<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.semicolon.scientificresearch">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/apps_icons"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/apps_icons"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.HomeActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.ChooserActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.TrainingActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.TranslateActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.AenatActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.Mo3adlaActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.EfadaOrderActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.ControlActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.TadqeqActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.Ta7lelActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.TawfeeqActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".Activities.DatabaseActivity" />
        <activity android:name=".Activities.OtherWebViewActivity" />
        <activity android:name=".Activities.FreeTranslation" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.CourseDetailsActivity" />
        <activity android:name=".Activities.EqtbasActivity"></activity>
    </application>

</manifest>